!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Curriculum Vitae of Che' Nxusani
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %script{:src => "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}


  %body
    .container-fluid
      .row-fluid
        .span12
          %center
            %h1 Curriculum Vitae
            %h2 Che' Nxusani
            %h5.online-places
              %a{:href => "http://chenx.co.za"} chenx.co.za
              %a{:href => "https://github.com/codefendant/"} github.com/codefendant
              %a{:href => "https://twitter.com/CheNxusani"} @code_dependant
              %a{:href => "mailto:che.nxusani@gmail.com"} che.nxusani@gmail.com


      %hr
      %center
        %h3 Basic Information
        %br
      .row-fluid
        .span6
          %label.pull-right ID Number:
        .span6
          %span 8603305193081
      .row-fluid
        .span6
          %label.pull-right Nationality:
        .span6
          %span South African
      .row-fluid
        .span6
          %label.pull-right First Language:
        .span6
          %span English
      %br

      %hr
      %center
        %h3 Education
        %br
        .row-fluid
          .span12
            %b
              1999-2003
              %br
              Grosvenor Boys High School
          %div
            %b Matriculated with Honours
        .row-fluid
          .span12
            %div Maths, Physics, Computer Science, Techinical Drawing
            %div Durban Youth Council 2003

        %br
        %br
        .row-fluid
          .span12
            %b
              2004-2006
              %br
              University Of Kwa-Zulu Natal
        .row-fluid
          .span12
            %b BSc Double Computer Science with Deans Commendation
        .row-fluid
          .span12
            Information Systems, Data Structures, Database systems, Operating Systems Development, Software Design
        .row-fluid
          .span12
            3rd Year Computer Science Tutor

        %br
        %br
        .row-fluid
          .span12
            %b
              2007-2008
              %br
              University of Witwatersrand
        .row-fluid
          .span12
            %b BSc Honours in Computer Science
        .row-fluid
          .span12
            Research Methods, Analysis of Algorithms, Computer Architecture, Database Management Systems
        .row-fluid
          .span12
            %b Thesis topics
            %br
            Counting Shacks in Aerial Photographs using Hybrid Segmentation Techniques
            %br
            Analysing the Spread of HIV in Sexual Networks using Cellular Automata


      %hr
      %center
        %h3 Work Experience
        %br
        .row-fluid
          .span12
            %b
              2008-2010
              %br
              Internet Solutions - Connectivity Infrustructure
              %br Neil Dragt, Neil.Dragt@is.co.za
          %div
            %b Junior Software Developer
          %br
        .row-fluid
          .span12
            Analysis, design and implementation and support of management systems related to ISP accounts and services
        .row-fluid
          .span12
            Product Design, Customer Support, Systems Administration
        .row-fluid
          .span12
            PHP, SOAP, MYSQL, JQeury, Prototype
        .row-fluid
          .span12
            %b Notable Projects

            %br
            %i.icon-stop
            %br
            Re-implementation of a legacy system to enable installation engineers to diagnose,
            %br
            monitor and troubleshoot
            customer internet accounts and services including ADSL, MPLS, GSM and Fibre lines
            %br
            %i.icon-stop
            %br
            Maintence and improvement of the primary customer facing web interface
            %br
            User included resellers and organisations to manage their DSL and GSM
            accounts, including account creation, monitoring, reporting etc
            %br
            %i.icon-stop
            %br
            Sole developer of APN management system for the management of the installation of an APN.
            %br
            Required multiple users to interact witht the application at different phases from sale to installation.

        %br
        %br
        %br
        .row-fluid
          .span12
            %b
              2010-present
              %br
              Internet Solutions - Systems Integators
              %br Gabriel Fortuna, Gabriel.Fortuna@is.co.za
          %div
            %b Software Developer
        .row-fluid
          .span12
            Analysis, design and implementation within the primary development team of the organization,
            %br
            developing enterprise level management systems both internal and customer facing.
        .row-fluid
          .span12
            Web App Devepment, System Design and Implementation, UX Design & UI Implementation
        .row-fluid
          .span12
            Python with Django, Ruby on Rails, Backbone.js, Meteor.js, REST, Coffeescript, HAML, SASS

        .row-fluid
          .span12
            %b Notable Projects

            %br
            %i.icon-stop
            %br
            Sole developer of VRF management system used by engineers to create and manage Virtual Routing and Forwarding configurations
            %br
            %i.icon-stop
            %br
            Sole developer of a management system to allow engineers to create and manage network layer configurations
            %br
            for all connectivity connections for the entier organization
            %br
            %i.icon-stop
            %br
            Enterprise quoting system used by account managers and the sales team to generate quotes using products imported from Tribold, a product configurator
            %br
            %i.icon-stop
            %br
            A customer facing system called
            %a(href="http://vdc.is.co.za") Virtual Data Center
            which allows users to create virtual machines.
            %br
            It interfaces with VMwares VCloud Director REST API, as well as many internal API's included Internet Solutions oauth provider.


